:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  justify-content: stretch;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 0;
  overflow-y: auto;
}

.main-title {
  font-size: 2.5rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.05rem;
  margin: 0;
}

h2 {
  text-align: right;
}

.editor-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #111;
}

footer {
  border-color: #1E90FF;
  border-style: solid;
  border-width: 1px 0 0 0;
  flex-grow: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
